<footer>
    <hr>
    <p>
    - [PQRSF](https://forms.office.com/r/MtpidGDsFp)
    - [Encuesta de satisfacción del usuario](https://forms.office.com/r/4qyUE6aXfF)
    - [Compromiso antisoborno](https://forms.office.com/pages/responsepage.aspx?id=mLosYviA80GN9Y65mQFZi4BLcGBxt91JrVdIn9tTRp9UQzBWRE5WMFpJNUFDUzhHRFZJRTJSUEpaWC4u&origin=QRCode&qrcodeorigin=presentation&route=shorturl)
    - [Canal de Denuncias - Sistema de Gestión Antisoborno](https://www.ramajudicial.gov.co/portal/atencion-al-usuario/pqr)
    </p>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
</footer>
