<footer>
    <hr >
    <p >
     <a rel="noopener" target="_blank" href="https://forms.office.com/r/MtpidGDsFp">:interrobang: PQRSF</a> - 
     <a rel="noopener" target="_blank" href="https://forms.office.com/r/4qyUE6aXfF">:heavy_check_mark: Satisfacción</a> - 
     <a rel="noopener" target="_blank" href="https://www.ramajudicial.gov.co/portal/atencion-al-usuario/pqr">:speaking_head: Canal de Denuncias</a> - 
     <a rel="noopener" target="_blank" href="https://forms.office.com/pages/responsepage.aspx?id=mLosYviA80GN9Y65mQFZi4BLcGBxt91JrVdIn9tTRp9UQzBWRE5WMFpJNUFDUzhHRFZJRTJSUEpaWC4u&origin=QRCode&qrcodeorigin=presentation&route=shorturl">:moneybag: Compromiso Antisoborno</a> - 
     <a rel="noopener" target="_blank" href="mailto:erossiap@cendoj.ramajudicial.go.co">:speech_balloon: Soporte web</a></p>
    <p >&copy; {{ site.time | date: "%Y" }} {{ site.title }} </p>
    <p>![](https://komarev.com/ghpvc/?username=csjspoabaq&color=grey)</p>
</footer>
