<footer>
    <hr>
    <p>
    <a rel="noopener" target="_blank" href="https://forms.office.com/r/MtpidGDsFp">PQRSF</a>
    <a rel="noopener" target="_blank" href="https://forms.office.com/r/4qyUE6aXfF">Satisfacción</a>
    <a rel="noopener" target="_blank" href="https://www.ramajudicial.gov.co/portal/atencion-al-usuario/pqr">Canal de Denuncias</a>
    <a rel="noopener" target="_blank" href="https://forms.office.com/pages/responsepage.aspx?id=mLosYviA80GN9Y65mQFZi4BLcGBxt91JrVdIn9tTRp9UQzBWRE5WMFpJNUFDUzhHRFZJRTJSUEpaWC4u&origin=QRCode&qrcodeorigin=presentation&route=shorturl">Compromiso Antisoborno</a>

    </p>
    <p>
        <a rel="noopener" target="_blank" href="mailto:erossiap@cendoj.ramajudicial.go.co">Soporte</a></p>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }} </p>
</footer>
