<aside class="sidebar">
  <h2>Sistemas de información</h2>
  <ul>
    <li><a target="_blank" href="{{ "https://sites.google.com/view/reparto-diario-audiencias?usp=sharing" | relative_url }}"> :red_circle: Reparto diario de audiencias</a></li>
    <li><a target="_blank" href="{{ "https://sites.google.com/view/repartoconocimientos?usp=sharing" | relative_url }}"> :black_circle: Reparto a Juzgados de Conocimiento</a></li>
    <li><a target="_blank" href="{{ "https://sites.google.com/view/agendar-aud-estaciones?usp=sharing" | relative_url }}"> :black_circle: Aganda de audiencias en estaciones de policia</a></li>
  </ul>
  <div>
      <hr>
      <h2>Enlaces de intéres</h2>
      <ul>
        <li> :loudspeaker: <a rel="noopener" target="_blank" href="https://www.ramajudicial.gov.co/">Rama Judicial</a>
        <li> :mag: <a rel="noopener" target="_blank" href="https://consultaprocesos.ramajudicial.gov.co/procesos/Index">Consulta de procesos</a>
        <li> :open_file_folder: <a rel="noopener" target="_blank" href="https://siugj-sgde.ramajudicial.gov.co/expedientes/login">SGDE Rama Judicial</a>
      </ul>
  </div>
</aside>