<aside class="sidebar">
    <h2>Sistemas de información</h2>
    <ul>
        <li><a target="_blank" href="{{ "https://sites.google.com/view/reparto-diario-audiencias?usp=sharing" | relative_url }}"> :red_circle: Reparto diario de audiencias</a></li>
        <li><a target="_blank" href="{{ "https://sites.google.com/view/repartoconocimientos?usp=sharing" | relative_url }}"> :black_circle: Reparto a Juzgados de Conocimiento</a></li>
        <li><a target="_blank" href="{{ "https://sites.google.com/view/agendar-aud-estaciones?usp=sharing" | relative_url }}"> :black_circle: Agenda de audiencias en estaciones de policia</a></li>
    </ul>
    <div>
        <hr>
        <h2>Enlaces de intéres</h2>
        <ul>
            <li> :loudspeaker: <a rel="noopener" target="_blank" href="https://www.ramajudicial.gov.co/">Rama Judicial</a></li>
            <li> :mag: <a rel="noopener" target="_blank" href="https://consultaprocesos.ramajudicial.gov.co/procesos/Index">Consulta de procesos</a></li>
            <li> :open_file_folder: <a rel="noopener" target="_blank" href="https://siugj-sgde.ramajudicial.gov.co/expedientes/login">SGDE Rama Judicial</a></li>
            <li> :eye_speech_bubble: <a rel="noopener" target="_blank" href="https://vigilancias.ramajudicial.gov.co/inicio">Vigilancias Administrativas</a></li>
            <li> :gear: <a rel="noopener" target="_blank" href="https://etbcsj-my.sharepoint.com/:f:/g/personal/erossiap_cendoj_ramajudicial_gov_co/IgA_DfGyeZF4T77SipJ8Tt7eAfuyvEuip4X4WyCFKCSnutM?e=v6jd4J">Procedimientos Específicos</a></li>
        </ul>
    </div>
    <div>
        <hr>
        <h2>Sistemas Administrativos</h2>
        <ul>
            <li> :loudspeaker: <a rel="noopener" target="_blank" href="https://judit.ramajudicial.gov.co/HEAT/">JudIt</a></li>
            <li> :mag: <a rel="noopener" target="_blank" href="http://consulta_bienes.ramajudicial.gov.co:8080/portal_csj/jsp/login.app">Consulta de inventario</a></li>            
            <li> :open_file_folder: <a rel="noopener" target="_blank" href="https://efinomina.ramajudicial.gov.co/EfinominaEL/Ingresar.aspx?Ent=CSJWEB">Efinomina</a></li>
        </ul>
    </div>
</aside>