<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
  <header>
    <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
  </header>
  <div class="container">
    <main class="main-content">
      {{ content }}
    </main>
    <aside class="sidebar">
      <h2>Sistemas de información</h2>
      <ul>
        <li><a target="_blank" href="{{ "https://sites.google.com/view/reparto-diario-audiencias?usp=sharing" | relative_url }}">Reparto diario de audiencias</a></li>
        <li><a target="_blank" href="{{ "https://sites.google.com/view/repartoconocimientos?usp=sharing" | relative_url }}">Reparto a Juzgados de Conocimiento</a></li>
        <li><a target="_blank" href="{{ "https://sites.google.com/view/repartosemana?usp=sharing" | relative_url }}">Reparto en dia de semana</a></li>
        <li><a target="_blank" href="{{ "https://sites.google.com/view/repartofdsydisp?usp=sharing" | relative_url }}">Reparto en fin de semana</a></li>
        <li><a target="_blank" href="{{ "https://sites.google.com/view/agendar-aud-estaciones?usp=sharing" | relative_url }}">Aganda de audiencias en estaciones de policia</a></li>
      </ul>
---
### Enlaces de intéres

- [Rama Judicial](https://www.ramajudicial.gov.co/)
- [Consulta de procesos]({{ 'pages/servicios/consulta_procesos' | relative_url }})

    </aside>
  </div>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>